[submodule "vim/.vim/bundle/jedi-vim"]
	path = vim/.vim/bundle/jedi-vim
	url = https://github.com/davidhalter/jedi-vim
[submodule "vim/.vim/autoload/vim-pathogen"]
	path = vim/.vim/autoload/vim-pathogen
	url = https://github.com/tpope/vim-pathogen
